#grid {
    layout: grid;
    grid-size: 2;
    grid-gutter: 1;
    grid-columns: 4fr 1fr;
}

Button {
    margin: 1;
    width: 20%;
    content-align: center middle;
}

.green {
    background: green;
    color: white;
}

.yellow {
    background: rgb(248, 195, 50);
    color: black;
}

.red {
    background: red;
    color: white;
}