HorizontalGroup.outer {
    width: 100%;
    border: yellow;
}

HorizontalGroup.config {
    align-horizontal: right;
}

Button {
    background: purple;
    color: yellow;
    min-width: 30;
    border: white;
}

Label.config-label {
    text-style: bold;
    color: yellow;
    height: 3;
}

#top-menu {
    align-horizontal: center
}

Label.app-alert {
    text-align: center;
    background: indigo;
    color: thistle;
    border: thistle;
}

VerticalGroup {
    width: 30
}